extends layout 
 
block content 
  h1= title 
 
  form(id='popcornForm', action="/resource/popcorn", method="POST") 
    div.form-group 
        label.popcornAttr(for='popcorn_flavour') Popcorn Flavour 
        input#popcorn_flavour(type='text', name='popcorn_flavour') 
    div.form-group 
        label.popcornAttr(for='popcorn_quantity') Popcorn Quantity 
        input#popcorn_quantity(type='number', name='popcorn_quantity') 
    div.form-group 
        label.popcornAttr(for='popcorn_cost') Popcorn cost 
        input#popcorn_cost(type='number', name='popcorn_cost') 
    input(type="submit") 
 
  script. 
    document.forms['popcornForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 