body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.popcornAttr { 
  background-color: rgb(203, 191, 204); 
  width: 120px; 
}

.values{
  border: outset;
  width: 100px;
  background-color: rgb(224, 244, 249);
  border-color: rgb(158, 180, 211);
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: small;
}