body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.popcornAttr { 
  background-color: rgb(203, 191, 204);
  border: outset; 
  width: 120px;
  font-size: small; 
}

.values{
  border: outset;
  width: 170px;
  border-color: rgb(158, 180, 211);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
}